{% extends 'omniscient/basic.html' %}
{% load bootstrap4 %}

{% block css %}
<style>
    * {
        font-family: Microsoft JhengHei;
        font-weight: bold;
    }
</style>

{% endblock %}

{% block content %}
<br><br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <div class="alert alert-primary text-center" role="alert">
            點擊以<a href="{%url 'login' %}" class="alert-link" >重新登入
        </div>
        
        
        </div>
        <div class="col-md-4"></div>
    </div>
   
{% endblock %}