{% extends 'omniscient/basic.html' %}

{% block css %}
    <style>
        * {
            font-family: Microsoft JhengHei;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block del%}
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'hand_made_delete' %}">刪除</a>
        </li>
    {% endif %}
{% endblock %}

{%block content%}
<div class=" text-center" >
    <h1>{{ work.Title }}</h1>
    <img src="{{ work.Photo.url}}" class="rounded mx-auto d-block img-fluid">
    {{ work.Introduction }}
    <br>
    {{ work.Contact }}
    <br>
    {{ work.Add_time }}
    <br>
    {{ work.Edit_time }}
</div>

{%endblock%}