{% extends 'omniscient/basic.html' %}
{% load bootstrap4 %}
{% block css %}
<style>
    * {
        font-family: Microsoft JhengHei;
        font-weight: bold;
        letter-spacing: 1px;
    }
</style>

{% endblock %}

{% block add %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hand_made_add' %}">新增手工藝</a>
    </li>
{% endblock %}

{%block content%}
<div class="container">
    <br>
    {% bootstrap_messages %}
    
</div>
<div>
    {% for work in works %}
    {% if forloop.counter0|divisibleby:"4" %}
    <div class="row">
        {% endif %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="{% url  'hand_made_detail' work.id %}"><img src="{{ work.Photo.url}}" class="img-fluid"></a>
        </div>
        {% if forloop.counter|divisibleby:"4" and forloop.counter0 != 0 %}
    </div>
    {% elif forloop.last and not forloop.counter|divisibleby:"4" %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{%endblock%}