{% extends 'omniscient/basic.html' %}



{% block div %}
<!-- Content -->
<section id="content">
    <div class="container">


        <div class="row">
            <div class="col-3 col-6-medium col-12-small">
                <section>1</section>
            </div>
            <div class="col-3 col-6-medium col-12-small">
                <section>2</section>
            </div>
            <div class="col-3 col-6-medium col-12-small">
                <section>3</section>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-3 col-6-medium col-12-small">
                <section>1</section>
            </div>
            <div class="col-3 col-6-medium col-12-small">
                <section>2</section>
            </div>
            <div class="col-3 col-6-medium col-12-small">
                <section>3</section>
            </div>
            <div class="col-3 col-6-medium col-12-small">
                <section>4</section>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{%block content%}
<div class="row">
    {% for work in works %}
        {% if forloop.counter0|divisibleby:"4" %}
            <div class="row">
        {% endif %}
                <div class="col-3 col-6-md col-12-sm">
                    <section>{{ forloop.counter}}</section>
                    <img src="{{ work.Photo.url}}" class="img-fluid">
                </div>
        {% if forloop.counter0|divisibleby:"3"  and forloop.counter0 != 0 %}
            </div>
        {% elif forloop.last and not forloop.counter0|divisibleby:"3" %}
            </div>
        {% endif %}

    {% endfor %}
</div>


{%endblock%}