{% extends 'omniscient/basic.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/issue.css' %}">
{% endblock %}
{% block content %}
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <div class="mySlides">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{% static 'photo/issue/Meme-thinking-face.jpg' %}" class="img-thumbnail" alt="No Image">
                </div>
                <div class="col-sm-8">
                    <h2>Header</h2>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                    ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>

        <div class="mySlides">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{% static 'photo/issue/Meme-thinking-face.jpg' %}" class="img-thumbnail" alt="No Image"/>
                </div>
                <div class="col-sm-8">
                    <h2>Header</h2>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                    ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>

        <div class="mySlides">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{% static 'photo/issue/Meme-thinking-face.jpg' %}" class="img-thumbnail" alt="No Image">
                </div>
                <div class="col-sm-8">
                    <h2>Header</h2>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                    ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>

    </div>
    <br>

    <!-- The dots/circles -->
    </section>
    <div class="container">
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        原住民議題 #1
                    </a>
                </div>
                <div id="collapseOne" class="collapse show">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 col-xs-4">
                                <img src="{% static 'photo/issue/Meme-thinking-face.jpg' %}" class="img-thumbnail" alt="No Image">
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <h2>Header</h2>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        原住民議題 #2
                    </a>
                </div>
                <div id="collapseTwo" class="collapse">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 col-xs-4">
                                <img src="{% static 'photo/issue/Meme-thinking-face.jpg' %}" class="img-thumbnail" alt="No Image">
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <h2>Header</h2>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                        原住民議題 #3
                    </a>
                </div>
                <div id="collapseThree" class="collapse">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 col-xs-4">
                                <img src="{% static 'photo/issue/Meme-thinking-face.jpg' %}" class="img-thumbnail" alt="No Image">
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <h2>Header</h2>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>

{% endblock %}