{% extends 'omniscient/basic.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block css %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>原住民介紹</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <script>
        function checkTro() {
            document.getElementById('Intro').style.backgroundColor = "blue";
            document.getElementById('Intro').style.color = "white";
            document.getElementById('where').style.backgroundColor = "white";
            document.getElementById('where').style.color = "gray";
            document.getElementById('trad').style.backgroundColor = "white";
            document.getElementById('trad').style.color = "gray";
            document.getElementById('good').style.backgroundColor = "white";
            document.getElementById('good').style.color = "gray";
            document.getElementById('shy').src = "../../resources/photo/Introduction/10_1.jpg";
            document.getElementById('title').innerHTML = "邵族介紹";
            document.getElementById('contain').innerHTML = "<p>邵-Thao，原義是「人」，最初住在水社湖(即日月潭前身水沙連)的西岸湖畔，所以被漢人稱為「水社化番」或「水沙連化番」。化番的意思是指漢化程度介於生番和熟番之間的族群，因此邵族可說是原住民族十族中漢化最深的一族了。另外，「思麻丹社」也是邵族的統稱，直到現在，日月潭周圍各族仍然稱邵族人為「思麻丹 (Shvatan)」。<br> \
                    邵族人深受祖靈信仰之影響，敬畏自然，但近百年來受到日治時期日本人以及漢人的移入，使原有的土地以及文化風貌受到了很大的改變。<br> \
                    中華民國政府時期，日本政府的禁制令解除，大量漢族移入居住和做生意，人口日漸增多，政府以改善生活品質為理由，在民國72年間實施市地重劃，邵族人土地和生活範圍大幅被分割、徵收，更多商業財團進駐收購土地、建立飯店，世居於此地的邵族人，面臨漢族與財團挾帶商業優勢的競爭。<br> \
                    日月潭孕育了可觀的原住民族人文特色，與邵族人的命運唇齒相依，同時也是知名的國際觀光勝地、台灣島的精神象徵地標，對於初次接觸台灣原住民族的觀光客來說，邵族的種種幾乎成為他們對台灣原住民族的印象了！</p>";
        }
        function checkwhere() {
            document.getElementById('Intro').style.backgroundColor = "white";
            document.getElementById('Intro').style.color = "gray";
            document.getElementById('where').style.backgroundColor = "blue";
            document.getElementById('where').style.color = "white";
            document.getElementById('trad').style.backgroundColor = "white";
            document.getElementById('trad').style.color = "gray";
            document.getElementById('good').style.backgroundColor = "white";
            document.getElementById('good').style.color = "gray";
            document.getElementById('shy').src = "../../resources/photo/Introduction/1_2.jpg";
            document.getElementById('title').innerHTML = "邵族分佈";
            document.getElementById('contain').innerHTML = "<p>排灣族分佈於南投縣魚池鄉伊達邵部落和水里鄉大坪林聚落</p>"
        }
        function checktrad() {
            document.getElementById('Intro').style.backgroundColor = "white";
            document.getElementById('Intro').style.color = "gray";
            document.getElementById('where').style.backgroundColor = "white";
            document.getElementById('where').style.color = "gray";
            document.getElementById('trad').style.backgroundColor = "blue";
            document.getElementById('trad').style.color = "white";
            document.getElementById('good').style.backgroundColor = "white";
            document.getElementById('good').style.color = "gray";
            document.getElementById('shy').src = "../../resources/photo/Introduction/10_3.jpg";
            document.getElementById('title').innerHTML = "邵族節慶";
            document.getElementById('contain').innerHTML = "<h2>祖靈祭Lus'an</h2> \
            <div class='container'><p>每年農曆七月的最後一天至八月二十日左右舉行。<br> \
            族語Lus'an其實是新年的意思，邵族的祖靈祭，即邵族過年，是為讚頌祖先，祈求祖靈賜福，並藉此將邵族的文化傳繼下去。</p></div>"
        }
        function checkgood() {
            document.getElementById('Intro').style.backgroundColor = "white";
            document.getElementById('Intro').style.color = "gray";
            document.getElementById('where').style.backgroundColor = "white";
            document.getElementById('where').style.color = "gray";
            document.getElementById('trad').style.backgroundColor = "white";
            document.getElementById('trad').style.color = "gray";
            document.getElementById('good').style.backgroundColor = "blue";
            document.getElementById('good').style.color = "white";
            document.getElementById('shy').src = "../../resources/photo/Introduction/10_4.jpg";
            document.getElementById('title').innerHTML = "邵族特色";
            document.getElementById('contain').innerHTML = "<h2>祖靈籃</h2> \
            <div class='container'><p>又稱公媽籃，內裝有祖先遺留之衣物與飾品，邵族宗教以「祖靈」信仰為核心，包括最高祖靈與氏族祖靈，最高祖靈住在拉魯島（Lalu）上的茄苳樹，是一位男性的神，氏族祖靈則是每一個氏族的始祖。<br> \
            邵族人相信祖靈的存在，每家戶都有一個祖靈籃，內裝有祖先遺留之衣物與飾品。</p></div> \
            <h2>舂石音</h2> \
            <div class='container'><p>舂石音的「杵」長短粗細不一，最長的可以達到一個半人的高度，短的大概只有一個人高，杵的形狀兩頭粗、中間細，枝數在七或八支均可，大夥兒圍著一個埋在土裡只露出平坦面的石頭，輪流舉起長杵用力舂擊，於是「叮叮噹噹」悠揚頓挫，充滿跳躍音符的「杵音」於焉產生。<br> \
            邵族人舂石音的時候，旁邊通常還會有兩三個人拿著短竹筒敲擊地面，發出低沉的伴奏聲，配合長杵衝擊在石頭上的聲響，鏗鏘迴盪、疏落有致，令人印象難忘。</p></div>";
        }
    </script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group col-lg" role="group" aria-label="First group">
                <button type="button" class="btn btn-primary col-sm btn-lg" style="background-color: blue; color: white"
                    id="Intro" onclick="checkTro()">介紹</button>
                <button type="button" class="btn btn-primary col-sm btn-lg" style="background-color: white; color: gray"
                    id="where" onclick="checkwhere()">分佈</button>
                <button type="button" class="btn btn-primary col-sm btn-lg" style="background-color: white; color: gray"
                    id="trad" onclick="checktrad()">節慶</button>
                <button type="button" class="btn btn-primary col-sm btn-lg" style="background-color: white; color: gray"
                    id="good" onclick="checkgood()">特色</button>
            </div>
        </div>

    </div>
    <div style="border-style:groove">
        <div class="col-lg-12" style="border-style:outset;height:auto;background-color: white;">
            <img src="../../resources/photo/Introduction/3_1.jpg" id="shy" class="img-fluid" alt="Responsive image"
                width="auto" height="450px" style="display: block;margin-left: auto; margin-right: auto;">
        </div>

        <div>
            <br>
            <h1 id="title">
                邵族介紹
            </h1>
            <div class="container" id="contain">
                <p>
                    邵-Thao，原義是「人」，最初住在水社湖(即日月潭前身水沙連)的西岸湖畔，所以被漢人稱為「水社化番」或「水沙連化番」。化番的意思是指漢化程度介於生番和熟番之間的族群，因此邵族可說是原住民族十族中漢化最深的一族了。另外，「思麻丹社」也是邵族的統稱，直到現在，日月潭周圍各族仍然稱邵族人為「思麻丹 (Shvatan)」。<br>
                    邵族人深受祖靈信仰之影響，敬畏自然，但近百年來受到日治時期日本人以及漢人的移入，使原有的土地以及文化風貌受到了很大的改變。<br>
                    中華民國政府時期，日本政府的禁制令解除，大量漢族移入居住和做生意，人口日漸增多，政府以改善生活品質為理由，在民國72年間實施市地重劃，邵族人土地和生活範圍大幅被分割、徵收，更多商業財團進駐收購土地、建立飯店，世居於此地的邵族人，面臨漢族與財團挾帶商業優勢的競爭。<br>
                    日月潭孕育了可觀的原住民族人文特色，與邵族人的命運唇齒相依，同時也是知名的國際觀光勝地、台灣島的精神象徵地標，對於初次接觸台灣原住民族的觀光客來說，邵族的種種幾乎成為他們對台灣原住民族的印象了！
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
