<nav class="navbar navbar-default navbar-mobile bootsnav">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="Search">
            <label for="" class="">全站搜尋</label>
            <input name="top_search_Mobile_input" type="text" value="" id="top_search_Mobile_input" accesskey="S" class="text KeyWord"
                placeholder="請輸入關鍵字" title="請輸入關鍵字" />


            <input type="submit" name="" value="搜尋" id="" title="搜尋(另開視窗)" class="btn SearchBtn" />
        </div>
        <ul class="nav navbar-nav topnav" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="dropdown mobileshow"><a title="五大施政目標 " href="javascript: handler(); return false;" class="dropdown-toggle"
                    data-toggle="dropdown">五大施政目標</a>
                <ul class="dropdown-menu">
                    <li><a href="/Goals/4B39EE9781CA6432" target="_blank">文化臺灣</a></li>
                    <li><a href="/Goals/328B08CA8B5E71D1" target="_blank">綠能矽島</a></li>
                    <li><a href="/Goals/D531AA0ECD7DD149" target="_blank">智慧國家</a></li>
                    <li><a href="/Goals/9CE9A93E6C953B4B" target="_blank">公義社會</a></li>
                    <li><a href="/Goals/6BA05207AD1BE830" target="_blank">幸福家園</a></li>
                </ul>
            </li>
            <li class="dropdown mobileshow green"><a title="重要施政成果 " href="javascript: handler(); return false;" class="dropdown-toggle"
                    data-toggle="dropdown">重要施政成果</a>
                <ul class="dropdown-menu">
                    <li><a href="https://achievement.ey.gov.tw/cp.aspx?n=11242B03B6C2D889" target="_blank">產業創新</a></li>
                    <li><a href="https://achievement.ey.gov.tw/cp.aspx?n=1E42BEB0F68720CB" target="_blank">前瞻基礎建設</a></li>
                    <li><a href="https://achievement.ey.gov.tw/cp.aspx?n=53E4AD5EA2AE7FA6" target="_blank">新南向政策</a></li>
                    <li><a href="https://achievement.ey.gov.tw/cp.aspx?n=959E599CFCB29C7B" target="_blank">數位經濟</a></li>
                    <li><a href="https://achievement.ey.gov.tw/cp.aspx?n=2F1E2ABBC7655E47" target="_blank">食安五環</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a title="認識行政院" href="javascript: handler();return false" class="dropdown-toggle">認識行政院</a>
                <ul class="dropdown-menu">
                    <li><a title="組織與職掌" href=" /Page/1600B4F5E15B862C" target="_self">組織與職掌</a></li>
                    <li><a title="院長" href="/Page/77A100A2C8409A3A" target="_self">院長</a></li>
                    <li><a title="副院長" href="/Page/82B51FB4F2BFD2C6" target="_self">副院長</a></li>
                    <li><a title="政務委員" href=" /Page/514323BB9A5C3346" target="_self">政務委員</a></li>
                    <li><a title="內閣閣員等" href=" /Page/8E28EF1FCB3BD532" target="_self">內閣閣員等</a></li>
                    <li><a title="政務顧問" href=" /Page/5F06481127442B17" target="_self">政務顧問</a></li>
                    <li><a title="歷任政府首長" href="/Page/19FF76FDB7181A53" target="_self">歷任政府首長</a></li>
                    <li><a title="建築及史料" href="http://history.ey.gov.tw/" target="_blank">建築及史料</a></li>
                </ul>
            </li>
        </ul>
</nav>