{% extends 'omniscient/basic.html' %}
{% load static %}
{% load bootstrap4 %}
{% block css %}
<style>
    * {
        font-family: Microsoft JhengHei;
        font-weight: bold;
        letter-spacing: 1px;
    }

    #carousel-element{
        background-color: #ffdb4d
    }
</style>

{% endblock %}

{% block add %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'Add_Issue' %}">新增議題</a>
    </li>
{% endblock %}


{% block content %}
<!-- Slideshow container -->
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card" id="carousel-element">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            <img src="{% static 'photo/issue/原住民教育自主權.jpg' %}" class="img-thumbnail" alt="No Image">
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <h2>原住民教育自主權</h2>
                            過去長期以來主流社會的同化政策，使得原住民無法有教育自主權，也導致原住民語言文化的大量流失，族群濱臨崩解，90年代以來，各地原住民族均致力於教育權的爭取，以求能搶求瀕臨消失邊緣的族群文化與語言。

                            　　紐西蘭毛利社會具體的成果，在於廣設毛利小學與幼稚園體系，以毛利語及毛利內容為主教學，並積極爭取中學、大學的設立，以期能貫徹教育自主權。美國原住民族如納瓦裔族（Navajo）等，則已經開始保留區學校課程的修定，加入母語及傳統文化的課程內容。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" id="carousel-element">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            <img src="{% static 'photo/issue/還我土地運動.JPG' %}" class="img-thumbnail" alt="No Image">
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <h2>「還我土地」運動</h2>
                            誠如澳洲原住民領袖麥克．道森所言：「原住民的議題重心，從來不曾改變，那是：『土地』。」地就是原住民的生命與靈魂，也是原住民數百年來流離失所、處境悲慘的根源所在，因此取回原屬於原住民的土地，是原住民發展存活的一切基礎。

                            　　這樣的觀念證諸紐、美，以及世界所有原住民社會皆然。原住民爭取士地權與「還我土地」運動，近年來日益蓬勃，而各國政府也都無法再忽略漠視之，而此運動也是原住民運動中的最主要的核心議題，政府與媒體的處理得當與否，對於全體社會都有關鍵性的影響。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" id="carousel-element">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            <img src="{% static 'photo/issue/原住民自然資源.jpg' %}" class="img-thumbnail" alt="No Image">
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <h2>自然資源權的爭取</h2>
                            繼土地權之後，原住民首要爭取的是原本屬於原住民的自然資源的權利，如漁權（漁場、漁區）、林權、水權（湖河溪海、海岸、海濱等）、礦權、狩獵權等。紐西蘭奧克蘭大學建築系教授希拉尼．馬屯加（Birini
                            Matuoga）指出，自然資源權，爭取的不僅是擁有權，更包括了管理權。
                        </div>
                    </div>

                </div>
            </div>

        </div>
 
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

        <div class="container">
            <br>
            {% bootstrap_messages %}
            
        </div>
<div class="col-xs-12" id="collapse">
    <div id="accordion">
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    「還我土地」運動
                </a>
            </div>
            <div id="collapseOne" class="collapse show">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            <img src="{% static 'photo/issue/還我土地運動.JPG' %}" class="img-thumbnail" alt="No Image">
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <h2>「還我土地」運動</h2>
                            誠如澳洲原住民領袖麥克．道森所言：「原住民的議題重心，從來不曾改變，那是：『土地』。」地就是原住民的生命與靈魂，也是原住民數百年來流離失所、處境悲慘的根源所在，因此取回原屬於原住民的土地，是原住民發展存活的一切基礎。

                            　　這樣的觀念證諸紐、美，以及世界所有原住民社會皆然。原住民爭取士地權與「還我土地」運動，近年來日益蓬勃，而各國政府也都無法再忽略漠視之，而此運動也是原住民運動中的最主要的核心議題，政府與媒體的處理得當與否，對於全體社會都有關鍵性的影響。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    原住民教育自主權
                </a>
            </div>
            <div id="collapseTwo" class="collapse">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            <img src="{% static 'photo/issue/原住民教育自主權.jpg' %}" class="img-thumbnail" alt="No Image">
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <h2>原住民教育自主權</h2>
                            過去長期以來主流社會的同化政策，使得原住民無法有教育自主權，也導致原住民語言文化的大量流失，族群濱臨崩解，90年代以來，各地原住民族均致力於教育權的爭取，以求能搶求瀕臨消失邊緣的族群文化與語言。

                            　　紐西蘭毛利社會具體的成果，在於廣設毛利小學與幼稚園體系，以毛利語及毛利內容為主教學，並積極爭取中學、大學的設立，以期能貫徹教育自主權。美國原住民族如納瓦裔族（Navajo）等，則已經開始保留區學校課程的修定，加入母語及傳統文化的課程內容。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    自然資源權的爭取
                </a>
            </div>
            <div id="collapseThree" class="collapse">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            <img src="{% static 'photo/issue/原住民自然資源.jpg' %}" class="img-thumbnail" alt="No Image">
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <h2>自然資源權的爭取</h2>
                            繼土地權之後，原住民首要爭取的是原本屬於原住民的自然資源的權利，如漁權（漁場、漁區）、林權、水權（湖河溪海、海岸、海濱等）、礦權、狩獵權等。紐西蘭奧克蘭大學建築系教授希拉尼．馬屯加（Birini
                            Matuoga）指出，自然資源權，爭取的不僅是擁有權，更包括了管理權。
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% for issue in issues %}
        <div class="card">
                <div class="card-header">
 
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse{{ forloop.counter }}">
                    {{ issue.Title }}
                    </a>    
                    {% if user == issue.User %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'issue_delete' issue.id %}">刪除</a>
                        </li>
                    {% endif %}
                </div>
                <div id="collapse{{ forloop.counter }}" class="collapse">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 col-xs-4">
                                <img src="{{ issue.Photo.url}}" class="img-thumbnail" alt="No Image">
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <h2>{{ issue.Title }}</h2>
                                {{ issue.Context }}
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        {% endfor%}
    </div>
</div>
<br>


{% endblock %}