{% extends 'omniscient/basic.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block css %}

<style>
    body {
        background-color: #58b3aa;
    }
</style>
<script>
    function CheckIntro() {
        document.getElementById('image').src = "{% static 'photo/Introduction/6_1.jpg' %}";
        document.getElementById('title').innerHTML = "魯凱族資訊";
        document.getElementById('contain').innerHTML = "魯凱族將社會群體區分成貴族、世家和平民各級，貴族與世家階級兩者之間，不只有隸屬關係，甚至有敵對的態度。<br> \
                    在貴族制度中，私有財產制非常發達：除了少數的公有財產，如道路、休憩所、集會場所、敵首棚架、泉水、公墓等屬於全體公有外，一切在部落以內的自然財產，例如：山林、河流、獵場、土地、家屋基地等，原則上都是歸頭目家系所有，皆可算是頭目的私有財。<br> \
                    平民則以發展個人領導能力，農產豐儲以及通婚等方法來提昇地位。<br> \
                    魯凱族為父系社會重男輕女，繼承方式以長男為主。<br> \
                    百合花象徵女子的純潔與男子的狩獵豐碩。敬重百步蛇與雲豹。<br> \
                    木雕是魯凱族男子擅長的工藝藝術 在部落民族中, 會所是分布頗廣的一個文化特質。<br> \
                    貴族擁有土地、獵區與河川，平民須將日常所得的部份納貢於貴族，貴族再回送一部份給需要救濟的平民或宴請所屬的平民、勇士一起來分享當季的收穫。";
    }
    function CheckWhere() {
        document.getElementById('image').src = "{% static 'photo/Introduction/1_2.jpg' %}";
        document.getElementById('title').innerHTML = "魯凱族分佈";
        document.getElementById('contain').innerHTML = "魯凱族分布於高雄市茂林鄉、屏東縣霧台鄉及台東縣東興村等地。"
    }
    function CheckTrad() {
        document.getElementById('image').src = "{% static 'photo/Introduction/6_3.jpg' %}";
        document.getElementById('title').innerHTML = "魯凱族文化";
        document.getElementById('contain').innerHTML = "<h2>小米祭收獲祭</h2> \
        <div class='container'><p>小米收穫祭是在每年的八月中旬，過去以每一個部落為單位來舉行，舉行期間有著相當嚴格的規範不得隨意進出，爾後在教會、政府的影響下小米豐收祭以聯合豐年祭的形式舉行運動會及部分儀式。<br> \
        近年來原住民主體意識逐漸提高，又重新恢復以部落為單位的傳統形式。</p></div> \
        <h2>黑米祭</h2> \
        <div class='container'><p>高雄市茂林區多納村魯凱族特有的祭典，於每年11月1日至30日舉行。<br> \
        從最早期感謝水神協助婦女照顧孩子，慢慢地演化成為感謝神靈庇祐作物可避免蟲害及惡靈詛咒，更進一步確保作物豐收的祭典，這就是黑米祭的由來。<br> \
        所謂的黑米可區分為稻米種與小米種，黑米祭藉由慶祝豐收，同時也感謝一年來神明的保佑，並祈求族人能在來年富足平安。</p></div>"
    }
    function CheckFeature() {
        document.getElementById('image').src = "{% static 'photo/Introduction/6_4.jpg' %}";
        document.getElementById('title').innerHTML = "魯凱族特色";
        document.getElementById('contain').innerHTML = "<h2>百步蛇圖騰</h2><div class='container'><p>對魯凱族人而言，是一種袓靈的象徵，據傳魯凱族是百步蛇的後裔，因此對袓先懷抱著崇敬。</p></div> \
        <h2>百合花</h2><div class='container'><p>象徵女子的純潔與男子的狩獵豐碩。</p></div>"
    }
</script>
{% endblock %}

{% block content %}
<br>
<div class="container" style="background-color:white;border-radius:10px">
    <div class="row">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-top: 20px">
            <div class="btn-group btn-group-lg col-lg" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-info btn-sm-3" onclick="CheckIntro()">資訊</button>
                <button type="button" class="btn btn-outline-info btn-sm-3" onclick="CheckWhere()">分佈</button>
                <button type="button" class="btn btn-outline-info btn-sm-3" onclick="CheckTrad()">文化</button>
                <button type="button" class="btn btn-outline-info btn-sm-3" onclick="CheckFeature()">特色</button>
            </div>
        </div>
    </div>

    <div>
        <div class="col-lg-12" style="height:auto;border:1px solid #FFFFFF;background-color: gainsboro">
            <img src="{% static 'photo/Introduction/6_1.jpg' %}" id="image" class="img-fluid" alt="Responsive image"
                style=" display: block;margin-left: auto; margin-right: auto">
        </div>
        <br>
        <div>
            <div class="container">
                <h1 id="title">
                魯凱族資訊
                </h1>
                <div style="border:1px solid darkgray"></div>
                <br>
                <p id="contain">
                    魯凱族將社會群體區分成貴族、世家和平民各級，貴族與世家階級兩者之間，不只有隸屬關係，甚至有敵對的態度。<br>
                    在貴族制度中，私有財產制非常發達：除了少數的公有財產，如道路、休憩所、集會場所、敵首棚架、泉水、公墓等屬於全體公有外，一切在部落以內的自然財產，例如：山林、河流、獵場、土地、家屋基地等，原則上都是歸頭目家系所有，皆可算是頭目的私有財。<br>
                    平民則以發展個人領導能力，農產豐儲以及通婚等方法來提昇地位。<br>
                    魯凱族為父系社會重男輕女，繼承方式以長男為主。<br>
                    百合花象徵女子的純潔與男子的狩獵豐碩。敬重百步蛇與雲豹。<br>
                    木雕是魯凱族男子擅長的工藝藝術 在部落民族中, 會所是分布頗廣的一個文化特質。<br>
                    貴族擁有土地、獵區與河川，平民須將日常所得的部份納貢於貴族，貴族再回送一部份給需要救濟的平民或宴請所屬的平民、勇士一起來分享當季的收穫。
                </p>
                <br>
            </div>
        </div>
    </div>
</div>

{% endblock %}